/* Colors

My-purple : #692C71
My-red : #B83B5D
My-orange : #F0895C
My-yellow : #FAED6A

*/

:root {
    --darkest-color: #040005;
    --darker-color: #241929;
    --dark-color: #493652;
    --darkish-color: #775d83;
    --light-color: #c0a9c9;
    --lighter-color: #f4dbfd;
}


.navbar {
  background-image: linear-gradient(to bottom right, var(--dark-color), var(--darkish-color));
}
.nav-link {
    color: var(--lighter-color);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.navbar-brand {
    cursor: default;
    color: var(--lighter-color);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    letter-spacing: .5rem;
}
.nav-link.nav-link.disabled {
  cursor: default;
}
.navbar-brand:hover {
    color: var(--lighter-color);
}
.nav-link:hover {
    color: var(--light-color);
}
.nav-link.disabled:hover {
    color: #6c757d;
}
.navbar-toggler-icon {
    color: var(--lighter-color);
}

html, body {
  min-height: 100%;
}

body {
  min-height: 100%;
    background-image: linear-gradient(to bottom right, var(--darkest-color), var(--darker-color));
    font-family: 'Courier New', Courier, monospace;
}

.container {
  margin: 1%;
  padding: 1%;
  background-image: linear-gradient(to bottom right, var(--dark-color), var(--darkish-color));
  border-radius: 5px;
}
.container-fluid {
  background-color: transparent;
  display: flex;
  justify-content: center;
  justify-items: center;
  overflow-wrap: normal;
}
.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2%;
}
.tab-container {
  display: none;
}
.tab-container.active {
  display: block;
}


.btn-container button {
  margin: 10px;
}
.btn-outline-primary {
  font-family: 'Courier New', Courier, monospace;
  color:var(--lighter-color);
  background-color:transparent;
  background-image:none;
  border-color:var(--lighter-color);
  margin: auto;
  width: auto;
}
.btn-outline-primary:hover {
  color: var(--darker-color);
  background-color: var(--lighter-color);
  border-color: var(--lighter-color)
}
.btn-outline-primary.active,.btn-outline-primary:active {
  color: var(--darker-color) !important;
  background-color: var(--lighter-color) !important;
  border-color: var(--lighter-color) !important;
  box-shadow: none !important;
}
.btn-outline-primary.focus,.btn-outline-primary:focus {
  box-shadow: none;
  color: var(--darker-color) !important;
  background-color: var(--lighter-color) !important;
}
p, h1, h2, h3, h4, h5, h6 {
  color: var(--lighter-color);
  font-family: 'Courier New', Courier, monospace;
}
.container span {
  color: var(--lighter-color);
  margin-left: 1%;
  margin-right: 1%;
}









footer {
  background-image: linear-gradient(to bottom right, var(--dark-color), var(--darkish-color));
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  vertical-align: center;
  flex-wrap: wrap;
}
footer small, footer svg, footer span {
  color: var(--lighter-color);
  padding: 5px;
}
footer div.row {
  margin: 0 1%;
}

  